<div class="container">
    <div id="app">
        <h1>Details</h1>
        <div class="form-group">
            <label>First Name:</label>
            <input type = "text" class = "form-control" placeholder = "Enter First Name" v-model = "fname"/>
        </div>
        <div class="form-group">
            <label>Last Name:</label>
            <input type = "text" class = "form-control" placeholder = "Enter Last Name" v-model = "lname"/>
        </div>
        <div class="form-group">
            <label>Address:</label>
            <input type = "text" class = "form-control" placeholder = "Enter Address" v-model = "addr"/>
        </div>
        <button class = "btn btn-primary" v-on:click = "showdata">Add</button>
        <br />
        <br />
        <customercomponent
        v-for = "(item, index) in customer"
        v-bind:item = "item"
        v-bind:index = "index"
        v-bind:itr = "item"
        v-bind:key = "item.fname"
        v-on:removeelement = "customer.splice(index, 1)">
        </customercomponent>
    </div>
</div>