#app{
    padding: 15px;
    margin: 10px auto;
    width: auto;
}
.Table table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}
.Table table td {
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
    width: 25%;
    height: 30px;
}